<!DOCTYPE HTML>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>Publicações</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />
    <link rel="stylesheet" href="/styles/pages/style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap"
        rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://kit.fontawesome.com/332cf39b4a.js" crossorigin="anonymous"></script>


</head>

<body id="page-index">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/images/moeda-robotica.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Banco<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/publics">Publicações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/created-publics">Criar publicação</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Sair</a>
                </li>
            </ul>
        </div>
    </nav>
    <header class="page-header headerIndex">
        <div class="container">
            <div class="animate-up">
                <h1 id="logo">Publicações</h1>
            </div>
            <div class="separator"></div>
        </div>
    </header>

    <div class="container">
        <main class="animate-up delay-2">
            <% publics.forEach((public=>{%>
                <div class="card mt-3">
                    <div class="card-header text-center">
                        <h2>
                            <%= public.title %>
                        </h2>
                    </div>
                    <div class="card-body">
                        <a id="clickA" class="btn btn-success" href="/publics/<%= public.slug %> %>">Ver publicalção</a>
                    </div>
                    <div class="views">
                        <small class="ml-3"> Visualizações &nbsp </small>
                        <strong>
                            <%= public.views %>
                        </strong>
                    </div>
                </div>
                <%}))%>

        </main>
        <div class="row">
            <div class="col col-12">
                <% if(publics.length > 4){%>  
                    <a href="/publics/page/2" style="float: right"><i class="fas fa-arrow-circle-right"></i></a>
                <%}%> 
            </div>
        </div>
        <br><br>
    </div>

	<% if(createdPublicSuccess){ %>
		<div id="msgSuccess" class="animate__animated animate__bounceInRight alert alert-success" role="alert">
			<%= createdPublicSuccess %>
			<div id="myProgress">
				<div id="myBar"></div>
			</div>
		</div>
	<%}%>

    <!-- end container -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>