<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#41414C" />
  <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
  <title>Admin</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/partials/page-header.css" />
  <link rel="stylesheet" href="/styles/partials/animations.css" />
  <link rel="stylesheet" href="/styles/pages/style.css">

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap"
    rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head>

<body id="page-index">
  <header class="page-header">
    <div class="btnGroup">
    </div>
    <div class="container">
      <div class="animate-up">
        <h1 id="logo">Banco Robótica</h1>
      </div>
      <div class="separator"></div>
      <ul class="list-group">
        <li class="list-group-item">
          <a id="btnindex" class="btn btn-secondary btn-block" href="/" class="back">Home</a>
        </li>
        <li class="list-group-item">
          <a id="btnindex" class="btn btn-secondary btn-block" href="/admin" class="back">Cadastro de alunos</a>
        </li>
        <li class="list-group-item">
          <a id="btnindex" class="btn btn-secondary btn-block" href="/admin/register-questions" class="back">Quiz</a>
        </li>
        <li class="list-group-item">
          <a id="btnindex" class="btn btn-secondary btn-block" href="/admin/requests" class="back">Pedidos</a>
        </li>
        <li class="list-group-item">
          <a id="btnindex" class="btn btn-secondary btn-block" href="/admin/register-products" class="back">Produtos</a>
        </li>
      </ul>
    </div>
  </header>

  <div class="container">
    <main class="animate-up delay-2">
      <div class=" text-center m-4">
        <h1>Transações realizadas</h1>
      </div>
      
      <div class="row">
        <% transactions.forEach((transaction)=>{
          let date = transaction.createdAt
          let dateFormatted = date.toLocaleDateString('pt-BR', {timeZone: 'UTC'})
          let data_americana = dateFormatted
          let data_brasileira = data_americana.split('-').reverse().join('/');
          %>
          <div class="col-sm-6">
            <div class="card flex-wrap">
              <div class="row">
                <div class="col-sm-6">
                  <div class="container-datePay">
                    <div class="content-datePay">
                        <p>
                          <img style="width:30px;" src="https://img.icons8.com/dotty/80/000000/pay-date.png"/>
                          <%= data_brasileira%>
                        </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="container-pay">
                  <div class="content-pay">
                    <small>Pagador</small>
                    <p>
                      <%= transaction.userNamePay%>
                    </p>
                  </div>
                  <div class="content-receiving">
                    <small>Recebedor</small>
                    <p>
                      <%= transaction.userNameReceiving%>
                    </p>
                  </div>
                  <div class="content-valuePay">
                    <p>
                      <img style="width: 30px;" src="/images/Sifrão-Maker.png" alt="Imagem de total">
                      <%= transaction.valueTransaction%>
                    </p>
                  </div>
                </div>
              </div>
            </div> 
        </div>
        <%})%>        
      </div>
      <!-- end cards -->
    </main>
  </div>
  <!-- end container -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>